.myart__form {
    align-items: center;
  }
  
.myart__form__item {
    margin: 1rem;
}
.myart__form__item > * {
    font-family: "Rebrand Light";
}

.myart__form__item > input {
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  }
  
.myart__form__border {
    padding: 1rem 1rem 0.5rem 0.5rem;
    border: 0.5rem solid white;
    max-width: 400px;
}

.myart__form__artwork > img {
  max-width: 100%;
  max-height: 100%;
}