.myart__form {
    align-items: center;
  }
  
.myart__form__item {
    margin: 1rem;
}
.myart__form__item > * {
    margin-top: 1rem;
    font-family: "Rebrand Light";
}

.myart__form__item > input {
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  }
  
.myart__form__border {
    padding-top: 1rem;
    padding-bottom: 1rem;
    border: 0.5rem solid white;
}